<div class="component-container">
  <h2>Galería de Fotos</h2>
  <!-- Imágenes de flores en las esquinas -->
  <!-- <img src="assets/Flowers/CornerTopLeft.png" class="flower flower-top-left" alt="Flor">
  <img src="assets/Flowers/CornerTopRight.png" class="flower flower-top-right" alt="Flor">
  <img src="assets/Flowers/CornerBottomLeft.png" class="flower flower-bottom-left" alt="Flor">
  <img src="assets/Flowers/CornerBottomRight.png" class="flower flower-bottom-right" alt="Flor"> -->

  <!-- Imágenes de flores en los lados -->
  <!-- <img src="assets/Flowers/SideLeft.png" class="flower flower-left" alt="Flor">
  <img src="assets/Flowers/SideRight.png" class="flower flower-right" alt="Flor">
  <img src="assets/Flowers/SideTop.png" class="flower flower-top" alt="Flor">
  <img src="assets/Flowers/SideBottom.png" class="flower flower-bottom" alt="Flor"> -->

  <!-- Contenido de la galería -->
  <div class="gallery-container">
    <div class="gallery-grid">
      <img src="../../assets/photos/G1.jpg" alt="Foto de la boda" />
      <img src="../../assets/photos/G2.jpg" alt="Foto de la boda" />
      <img src="../../assets/photos/G3.jpg" alt="Foto de la boda" />
      <img src="../../assets/photos/G4.jpg" alt="Foto de la boda" />
      <img src="../../assets/photos/G5.jpg" alt="Foto de la boda" />
      <img src="../../assets/photos/G6.jpg" alt="Foto de la boda" />
      <img src="../../assets/photos/G7.jpg" alt="Foto de la boda" />
      <img src="../../assets/photos/G8.jpg" alt="Foto de la boda" />
      <img src="../../assets/photos/G9.jpg" alt="Foto de la boda" />
    </div>
  </div>
</div>
