/* Contenedor principal */
.component-container {
  background-color: #dde1d5;
    position: relative; /* Permite que las imágenes se posicionen dentro */
    width: 100%;
    height: auto;
    padding: 20px;
    //background-color: #fff; /* Fondo blanco */
    overflow: visible; /* Asegura que las imágenes no se corten */
  }
  h2{
    font-family: "Sacramento",serif;
    font-size: 48px;
    margin-bottom: 10px;
    text-align: center;
  }
  /* Estilos generales para las flores */
  .flower {
    position: absolute;
    width: 30%; /* Ajusta el tamaño */
    height: auto;
    opacity: 0.9; /* Suaviza las imágenes */
    z-index: 2; /* Las pone en el fondo sin esconderlas */
    pointer-events: none; /* Evita que interfieran con clics */
  }
  
  /* Esquinas */
  .flower-top-left {
    top: 0;
    left: 0;
  }
  
  .flower-top-right {
    top: 0;
    right: 0;
  }
  
  .flower-bottom-left {
    bottom: 0;
    left: 0;
  }
  
  .flower-bottom-right {
    bottom: 0;
    right: 0;
  }
  
  /* Lados */
  .flower-left {
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }
  
  .flower-right {
    top: 50%;
    right: 0;
    transform: translateY(-50%);
  }
  
  .flower-top {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .flower-bottom {
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  
  /* GALERÍA */
  .gallery-container {
    background-color: #dde1d5;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 35px;
    // padding-top: 40px;
    // padding-bottom: 40px;
    position: relative; /* Para que el contenido esté sobre las flores */
    z-index: 1; /* Asegura que la galería esté por encima de las imágenes de fondo */
  }
  
  .gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); 
    gap: 10px;
    max-width: 900px;
    width: 100%;
  }
  
  .gallery-grid img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  /* Para pantallas grandes: 3 columnas */
  @media (min-width: 768px) {
    .gallery-grid {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  /* Para pantallas pequeñas: Apilar en una sola columna */
  @media (max-width: 767px) {
    .gallery-grid {
      grid-template-columns: 1fr;
    }
  }
  