<div class="couple-section">
  <!-- Tarjeta de Confirmación de Asistencia -->
  <div class="attendance-card">
    <h2>Confirma tu asistencia</h2>
    <p>Nos encantaría contar contigo en nuestro día especial. Confirma tu asistencia para separar tu lugar!</p>
    <div class="invitados" style="font-size: small;">
      <p><span style="font-weight: bold;">Invitado(s):</span>  {{InfoInvitado.Nombre}}</p>
      <p><span style="font-weight: bold;">Numero de Personas:</span> {{InfoInvitado.Cantidad}}</p>
    </div>
    
    <ion-button color="dark" shape="round"> 
      <ion-icon name="checkmark-circle-outline" slot="start"></ion-icon>
      Confirmar Asistencia
    </ion-button>
    <br>
    <p style="font-size: small;">
      Aunque amamos a sus pequeños, esta será una celebración exclusiva para adultos.  
      Les agradecemos su comprensión y esperamos compartir juntos esta noche especial.
    </p>
  </div> 
</div>
