<div class="countdown-wrapper">
      
  <!-- Banner de fondo -->
  <div class="banner-background"></div>
  
  <!-- Nombres -->
  <div class="names">
    <p>Santiago<br>&<br>Aleida</p>
  </div>

  <div class="date">
    <p><span>09-Nov-2025</span></p>
    
  </div>

  <!-- Contenedor del contador -->
  <div class="countdown-container">
    <div class="countdown">
      <div class="countdown-item">
        <span id="days"></span>
        <span>Días</span>
      </div>
      <div class="countdown-item">
        <span id="hours"></span>
        <span>Horas</span>
      </div>
      <div class="countdown-item">
        <span id="minutes"></span>
        <span>Minutos</span>
      </div>
      <div class="countdown-item">
        <span id="seconds"></span>
        <span>Segundos</span>
      </div>
    </div>

    <!-- Texto "Save the Date" -->
    <div class="save-the-date">
      <p>Save the Date</p>

    </div>
  </div>
  
</div>
