<div class="dress-code-container">
  <div class="dress-content">
      <!-- Tarjeta del Código de Vestimenta -->
      <div class="dress-card">
          <h2 class="dress-title">Código de Vestimenta</h2>
          <h3 class="dress-subtitle">Etiqueta - Formal</h3>

          <img src="../../assets/DressCodePicture/Couple.png" alt="Código de Vestimenta" class="dress-image">

          <p class="dress-warning">
              <strong>Por favor NO usar blanco o similares</strong>
              <br>
              <span>(Colores reservados para los novios)</span>
          </p>
      </div>

      <!-- Tarjeta de Regalos
      <div class="dress-card">
          <h2 class="dress-title">Mesa de Regalos</h2>
          <h3 class="dress-subtitle">Tu presencia es nuestro mejor regalo</h3>

          <img src="../../assets/DressCodePicture/Regalo.png" alt="Regalos" class="dress-image">

          <p class="dress-warning">
              <strong>Si deseas hacernos un obsequio</strong>
              <br>
              <span>Puedes contribuir depositandome jeje</span>
          </p>
      </div> -->
  </div>
</div>
