<div class="couple-section">
  <h2>¡Nos casamos!</h2>
  <p>Nos encantaría invitarte a celebrar con nosotros nuestra unión</p>
  <!-- <div class="wedding-date">09 de Noviembre, 2024</div> -->

  <div class="couple-wrap">
      <div class="couple-half desc-groom">
          <h3>Santiago Ramírez</h3>
          <img src="../../assets/photos/Santi.jpg" alt="Groom" class="groom">
          <p class="parents">Padres</p>
          <p>Rolando Ramírez.</p>
          <p>Sandra García.</p>
      </div>

      <div class="heart">
          <ion-icon name="heart"></ion-icon>
      </div>

      <div class="couple-half desc-bride">
          <h3>Aleida Sobrevilla</h3>
          <img src="../../assets/photos/Ale.jpeg" alt="bride" class="bride">
          <p class="parents">Padres</p>
          <p>Roberto Sobrevilla.</p>
          <p>Jazmín Rodríguez.</p>
      </div>
  </div>

  <!-- Tarjeta de Confirmación de Asistencia -->
<!-- <div class="attendance-card">
  <h2>Confirma tu asistencia</h2>
  <p>Nos encantaría contar contigo en nuestro día especial. Confirma tu asistencia para separar tu lugar!</p>
  <p>Invitado(s):  NOMBRE DEL INVITADO</p>
  <p>Numero de Personas: NUMERO PERSONAS</p>
  <ion-button color="dark" shape="round">Confirmar Asistencia</ion-button>
  <br>
  <p style="font-size: small;">
    Aunque amamos a sus pequeños, esta será una celebración exclusiva para adultos.  
    Les agradecemos su comprensión y esperamos compartir juntos esta noche especial.
</p>
</div> -->

</div>
