<!-- 
<ion-header transluscent="true" mode="ios">
  <ion-toolbar>
    <ion-title>
      Santiago & Aleida
    </ion-title>
  </ion-toolbar>
</ion-header> -->



<ion-content  mode="ios">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Santiago & Aleida</ion-title>
    </ion-toolbar>
  </ion-header> -->

  <app-banner></app-banner>
  
  <app-groom-and-bride></app-groom-and-bride>
  
  <app-image-separator></app-image-separator>

  <app-rsvp [fam]="fam"  [cantidad]="cantidad"></app-rsvp>
  
  <app-image-separator2></app-image-separator2>

  <app-event-cards></app-event-cards>
  
  <app-image-separator3></app-image-separator3>
  
  <app-dress-code></app-dress-code>

  <app-photo-gallery></app-photo-gallery>


  <!-- <app-video-component></app-video-component> -->
  
    
  
</ion-content>

